@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@import "leaflet-draw/dist/leaflet.draw.css";



.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

