@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@import "leaflet-draw/dist/leaflet.draw.css";
/* :root {
            --primary: #4f46e5;
            --secondary: #3f37c9;
            --success: #4cc9f0;
            --danger: #f72585;
            --warning: #f8961e;
            --light: #f8f9fa;
            --dark: #4338ca;
            --gray: #6c757d;
            --light: #e9ecef;
        }
 */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-popup {
  animation: fadeIn 0.25s ease-out;
}
